parameters:


extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: localhost
	username: app_user
	password: t3rceS
	database: todo
	lazy: true

database:
	dsn: 'mysql:host=127.0.0.1;dbname=todo'
	user: app_user
	password: t3rceS
